.ListItem-root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  min-height: 64px;
  padding: 8px;
  border-bottom: 1px solid var(--border-main-color);
}

.ListItem-content {
  flex-grow: 1;
}

.ListItem-desc {
  font-size: 14px;
  color: #707070;
}
