.Accordion-root {
  border-top: 1px solid var(--border-main-color);
}

.Accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding: 8px;
  border-bottom: 1px solid var(--border-main-color);
  cursor: pointer;
}

.Accordion-header.disabled {
  cursor: initial;
  pointer-events: none;
}

.Accordion-header:hover {
  background-color: #bff0ff;
}

.Accordion-details {
  display: flex;
  padding: 24px 8px;
  min-height: 42px;
  border-bottom: 1px solid var(--border-main-color);
}

.Accordion-icon.expanded {
  transform: rotateZ(180deg);
  transition: all 0.4s;
}
